requests>=2.31
undetected-chromedriver>=3.5
beautifulsoup4>=4.12
lxml>=5.0
pdfminer.six>=20231228

pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
joblib>=1.3

sentence-transformers>=2.2

matplotlib>=3.7
seaborn>=0.12